{% extends 'crm/base.html' %}
{% load humanize %}
{% load app_filters %} 

{% block title %}Home{% endblock %}

{% block main %}
<h2>Events</h2>

<table>
	<tr><th><h3>Upcoming</h3></th><th><h3>Recent</h3></th></tr>
	<tr><td valign="top" style="padding-right: 1em">
			{% if upcomingeventlist %}
				<table class="stripe topalign select">
					<tr><th>Date/time</th>
						<th>Type</th>
						<th>Project</th>
					</tr>
					{% for event in upcomingeventlist %}
						<tr class="{% cycle 'odd' 'even' %}">
							<td><a href="{% url 'event' event.id %}">{{ event.datetime|date:"d/m/Y H:i" }}</a></td>
							<td><a href="{% url 'event' event.id %}">{{ event.eventtype }}</a></td>
							<td><a href="{% url 'event' event.id %}">{{ event.project }}</a></td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>No events</p>
			{% endif %}
		</td>
		<td valign="top">
			{% if recenteventlist %}
				<table class="stripe topalign select">
					<tr><th>Date/time</th>
						<th>Type</th>
						<th>Project</th>
					</tr>
					{% for event in recenteventlist %}
						<tr class="{% cycle 'odd' 'even' %}">
							<td><a href="{% url 'event' event.id %}">{{ event.datetime|date:"d/m/Y H:i" }}</a></td>
							<td><a href="{% url 'event' event.id %}">{{ event.eventtype }}</a></td>
							<td><a href="{% url 'event' event.id %}">{{ event.project }}</a></td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>No events</p>
			{% endif %}
		</td>
	</tr>
</table>

{% if todolist.count > 0 %}
	<h2>To do</h2>
	<table class="stripe topalign select">
		<tr><th>Action date</th><th>Subject</th><th>Note</th><th>Who</th></tr>
		{% for todo in todolist %}
			<tr class="{% cycle 'odd' 'even' %}"
				{% if todo.person %}onclick="window.document.location='{% url 'person' todo.person.id %}';"{% endif %}
				{% if todo.company %}onclick="window.document.location='{% url 'company' todo.company.id %}';"{% endif %}
				{% if todo.event %}onclick="window.document.location='{% url 'event' todo.event.id %}';"{% endif %}
				{% if todo.project %}onclick="window.document.location='{% url 'project' todo.project.id %}';"{% endif %}
			>
				<td>{% if todo.actiondate %}{{ todo.actiondate }}{% else %}--{% endif %}</td>
				<td>{% if todo.person %}{{ todo.person }}{% endif %}
					{% if todo.company %}{{ todo.company }}{% endif %}
					{% if todo.event %}{{ todo.event }}{% endif %}
					{% if todo.project %}{{ todo.project }}{% endif %}
				</td>
				<td>{{ todo.note }}</td>
				<td>{% if todo.actionperson %}{{ todo.actionperson }}{% else %}--{% endif %}</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p>No to do items.</p>
{% endif %}


{% endblock %}

