{% extends 'crm/base.html' %}
{% load humanize %}
{% load app_filters %} 

{% block title %}People{% endblock %}

{% block main %}
{% if personlist %}
	<h2>People 
		<span class="pop">[<a href="{% url 'trombinoscope' %}">trombinoscope</a>]</span>
	</h2>
	{% regroup personlist by initial as person_list %}
	
	<p>
		{% for person in person_list %}
			<a href="#{{ person.grouper }}">{{ person.grouper }}</a> {% if not forloop.last%}| {% endif %}
		{% endfor %}
	</p>
	
	<table>
		{% for person in person_list %}
			<tr><th colspan="2"><a id="{{ person.grouper }}" />{{ person.grouper }}</th></tr>
			{% for p in person.list %}
				<tr><td style="text-align: right"><a href="{% url 'person' p.id %}">{{ p.firstname }}</a>&nbsp;</td><td><a href="{% url 'person' p.id %}">{{ p.lastname }}</a> {% if p.companyname %}({{ p.companyname }}){% endif %}</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</table>
{% else %}
	<p>No people!</p>
{% endif %}

{% endblock %}

