{% extends 'crm/base.html' %}
{% load humanize %}
{% load app_filters %} 

{% block title %}Project: {{ project.name }}{% endblock %}

{% block main %}
<h1>{{ project.name }}
	<span class="edit">[<a href="/admin/crm/project/{{ project.id }}/">edit</a>]</span></h1>

<p>{{ project.memo|linebreaks }}</p>

{% if notes.count > 0  %}		
	<h3>Notes</h3>
	<table class="stripe topalign">
		<tr><th>Date/time</th><th>Note</th></tr>
		{% for note in notes %}
			<tr class="{% cycle 'odd' 'even' %}">
				<td><img src="/static/crm/{{ note.notetype.icon }}.png" alt="{{ note.notetype }}" align="absmiddle" />
					{{ note.datetime|date:"d/m/Y H:i" }}</td>
				<td>{{ note.note|linebreaksbr }}</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}

{% endblock %}

